.popup__about {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 44px;
  color: #000;
  padding: 13px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 599px) {
  .popup__about {
    margin-bottom: 42px;
  }
}